:root {
    --BG-color: #f5f5f5;
    --text-color: #6a6a6a;
    --primary-color: #e0d9c5;
    --secondary-color: #c0b2a7;
    --border-color: #afafaf;
}   

@media (prefers-color-scheme: dark) {
    :root {
        --BG-color: #1c1c1e;
        --text-color: #f2f2f7;
        --primary-color: #c2c2ce;
        --secondary-color: #8e8e93;
        --border-color: #48484a;
    }
}

body {
    background-color: var(--BG-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}   

blockquote {
    background-color: var(--primary-color);
    padding: 1em;
    border-left: 5px solid var(--border-color);
    font-size: 1.5rem;
    margin: 1em 0;
}
 #ingredients {
    background-color: var(--secondary-color);
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
 }    

 #tips {
    padding: 1em;
    border-color: var(--border-color);
    border-radius: 5px;
    margin-bottom: 1em;
 }

 #instructions h3 {
    background-color: var(--secondary-color);
    text-decoration: underline;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;

 }