body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3;

 }
 
h2 {
    margin-top: 20px;
    margin-bottom: 15px;
 }

blockquote {
font-weight: bold;
background-color: rgb(150, 218, 245);
}

dl {
    line-height: 2;
    
}