h1 {
    color: blue;
}
:link {
    color: green;
   
}
:visited {
    color: purple;

    
}
:hover {
    color: orange;
    text-decoration-line: none;   
}
:focus {
    color: red;
    background-color: yellow;
}
